</div>
<br>
<div class="container text-dark">
    The place to create instant, real-time polls for free. For any suggestions or queries, please contact me <a href="github.com/vikramnr">@vikramnr</a>
</div>
</body>
</html>